<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home page <%= 4+999 %> </h1>
    <p><%= 'Hello World'.toUpperCase() %> </p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum est rerum alias! Quia aliquam in dolorum nobis earum, ducimus provident vel voluptatibus harum sunt sequi fugiat. Suscipit nostrum laborum magnam?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum est rerum alias! Quia aliquam in dolorum nobis earum, ducimus provident vel voluptatibus harum sunt sequi fugiat. Suscipit nostrum laborum magnam?</p>

</body>
</html>