<!-- by indcluding header pre-defined in patials/head with bootstrap-->
<%- include('partials/head') %> 

<body>
    <div class="container" style="background-color: antiquewhite;">
        <h3>Sorry, we cannot find <%= name %> for you.</h3>
    </div>
</body>