<!-- by indcluding header pre-defined in patials/head with bootstrap-->
<%- include('partials/head') %> 

<body>
    <div class="container">
        <h1>Home page</h1>

        <!-- <h3>Get food</h3>
        <form action="http://localhost:3000/food" method="get">
            <input type="text" name="meal">
            <input type="text" name="qty">
            <button>Submit</button>
        </form>

        <h3>Post food</h3>
        <form action="http://localhost:3000/food" method="post">
            <input type="text" name="meal">
            <input type="text" name="qty">
            <button>Submit</button>
        </form> -->
    </div>
</body>
