<!-- by indcluding header pre-defined in patials/head with bootstrap-->


<body>
    <div class="container" style="background-color: antiquewhite;">
        <h3>Sorry, we cannot find it to you.</h3>
    </div>
</body>